<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Leitungstypen" type="stromlaufplanToolsCLI.Configuration.LeitungstypConfigurationSection,stromlaufplanToolsCLI" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- 
Leitungstypen  
  typ
    out              230V
    knx_out          KNX
    kleinsp_out      24V Kleinspannung (24V Beleuchtung, Fensterkontakt, Türkontakt)
  
  Leitungstyp:
   ,  trennt mehrere mögliche Varianten
   
Klemmen 
   typ:
   Auswahl der Klemme erfolgt anhand des Typs.
   [] optionale Klemme 
   
  --> 
  <Leitungstypen>
    <add typ="out"
         leitungstyp="NYM,NYY"
         minQ="0"
         maxQ="4" >
      <Klemmen>
        <add typ="N/[out]/PE" shortName="N/L/PE" color="LightSkyBlue" width="1" description="Wago - NT/L/PE - 4mm²" />
        <add typ="out/[out]" shortName="L/L" color="LightGray" width="1" description="Wago - L/L - 4mm²" />
      </Klemmen>
    </add>

    <add typ="out"
         leitungstyp="NYM,NYY"
         minQ="6"
         maxQ="16" >
      <Klemmen>
        <add typ="N/[out]/PE" shortName="N/L/PE" color="LightSkyBlue" width="2" description="Wago - NT/L/PE - 16mm²" />
        <add typ="out/[out]" shortName="L/L" color="LightGray" width="2" description="Wago - L/L - 16mm²" />
      </Klemmen>
    </add>

    <add typ="knx_out"
         leitungstyp="EIB-Y(ST)Y"
         minQ="0"
         maxQ="2.5" >
      <Klemmen>
        <add typ="out_knx+/out_knx-" shortName="K/K" color="Red" width="1" description="PHOENIX 3214663 PTTBS" />
        <add typ="out_30V+/out_30V-" shortName="K/K" color="Yellow" width="1" description="PHOENIX 3214663 PTTBS" />
        <add typ="out_ks+/out_ks-" shortName="K/K" color="Yellow" width="1" description="PHOENIX 3214663 PTTBS" />
      </Klemmen>
    </add>

    <add typ="kleinsp_out"
         leitungstyp="NYM(ST)-J 5x,Li (St) 2x,Li (St) 5x"
         minQ="0"
         maxQ="2.5" >
      <Klemmen>
        <!-- Nur Dreistockklemmen, da Schirmung auf auf Klemme aufgelegt wird -->
        <add typ="*/*/*" shortName="K/K/K" color="LightGray" width="1" description="Wago Dreistockklemme L/L/L" />
      </Klemmen>
    </add>

    <add typ="kleinsp_out"
         leitungstyp="J-Y(ST)Y"
         minQ="0"
         maxQ="2.5" >
      <Klemmen>
        <add typ="*/*/*" shortName="K/K/K" color="LightGray" width="1" description="Wago Mehrstockklemme L/L/L" />
        <add typ="*/*" shortName="K/K" color="LightGray" width="1" description="Wago Mehrstockklemme L/L" />
      </Klemmen>
    </add>    

    <add typ="kleinsp_out"
         leitungstyp="NYM-J"
         minQ="0"
         maxQ="2.5" >
      <Klemmen>
        <add typ="*/*/*" shortName="K/K/K" color="LightGray" width="1" description="Wago Mehrstockklemme L/L/L" />
        <add typ="*/*" shortName="K/K" color="LightGray" width="1" description="Wago Mehrstockklemme L/L" />
      </Klemmen>
    </add>    

    <add typ=""
         leitungstyp="(intern)"
         minQ="0"
         maxQ="2.5"
         ignore="true">
      <Klemmen>
      </Klemmen>
    </add>

  </Leitungstypen>
</configuration>