<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Leitungstypen" type="stromlaufplanToolsCLI.Configuration.LeitungstypConfigurationSection,stromlaufplanToolsCLI" />
    <section name="Reihenklemmen" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- 
Leitungstypen  
  typ
    out              230V
    knx_out          KNX
    kleinsp_out      24V Kleinspannung (24V Beleuchtung, Fensterkontakt, Türkontakt)
  
  Leitungstyp:
   ,  trennt mehrere mögliche Varianten
   
Klemmen 
   typ:
   Auswahl der Klemme erfolgt anhand des Typs.
   [] optionale Klemme 
   
  --> 
  <Leitungstypen>
    <add typ="out" leitungstyp="NYM,NYY,Ölflex" minQ="0" maxQ="4">
      <Klemmen>
        <add typ="N/[out]/PE" shortName="N/L/PE" color="LightSkyBlue" width="1" producer="Wago" articleName="Wago 2003-7641 - NT/L/PE - 2,5mm²" articleNo="2003-7641" />
        <add typ="out/[out]" shortName="L/L" color="LightGray" width="1" producer="Wago" articleName="Wago 2003-7642 - L/L - 2,5mm²" articleNo="2003-7642" />


        <add typ="N/[out]/PE" shortName="N/L/PE" color="LightSkyBlue" width="1" producer="Phoenix" articleName="PTI 2,5-PE/L/NT" articleNo="3213946" />
        <add typ="out/[out]" shortName="L/L" color="LightGray" width="1" producer="Phoenix" articleName="PTI 2,5-L/L" articleNo="3213953" />
     </Klemmen>
    </add>

    <add typ="out" leitungstyp="NYM,NYY" minQ="6" maxQ="6">
      <Klemmen>
        <add typ="PE" shortName="PE" color="Yellow" width="2" producer="Wago" articleName="Wago 2006-1207 - PE - 6mm²" articleNo="2006-1207" />
        <add typ="N" shortName="N" color="LightSkyBlue" width="2" producer="Wago" articleName="Wago 2006-1204 - N - 6mm²" articleNo="2006-1204" />
        <add typ="out" shortName="L" color="LightGray" width="2" producer="Wago" articleName="Wago 2006-1201 - L - 6mm²" articleNo="2006-1201" />


        <add typ="PE" shortName="PE" color="Yellow" width="2" producer="Phoenix" articleName="PTI 6-PE" articleNo="3213966" />
        <add typ="N" shortName="N" color="LightSkyBlue" width="2" producer="Phoenix" articleName="PTI 6 BU" articleNo="3213973" />
        <add typ="out" shortName="L" color="LightGray" width="2" producer="Phoenix" articleName="PTI 6" articleNo="3213972" />
      </Klemmen>
    </add>

    <add typ="out" leitungstyp="NYM,NYY" minQ="10" maxQ="10">
      <Klemmen>
        <add typ="PE" shortName="PE" color="Yellow" width="2" producer="Wago" articleName="Wago 2010-1207 - PE - 10mm²" articleNo="2010-1207" />
        <add typ="N" shortName="N" color="LightSkyBlue" width="2" producer="Wago" articleName="Wago 2010-1204 - N - 10mm²" articleNo="2010-1204" />
        <add typ="out" shortName="L" color="LightGray" width="2" producer="Wago" articleName="Wago 2010-1201 - L - 10mm²" articleNo="2010-1201" />


        <add typ="PE" shortName="PE" color="Yellow" width="2" producer="Phoenix" articleName="PT 10-PE" articleNo="3212131" />
        <add typ="N" shortName="N" color="LightSkyBlue" width="2" producer="Phoenix" articleName="PT 10 BU" articleNo="3212123" />
        <add typ="out" shortName="L" color="LightGray" width="2" producer="Phoenix" articleName="PT 10" articleNo="3212120" />
      </Klemmen>
    </add>

    <add typ="out" leitungstyp="NYM,NYY" minQ="16" maxQ="16">
      <Klemmen>
        <add typ="PE" shortName="PE" color="Yellow" width="2" producer="Wago" articleName="Wago 2016-7607 - PE - 16mm²" articleNo="2016-7607" />
        <add typ="N" shortName="N" color="LightSkyBlue" width="2" producer="Wago" articleName="Wago 2016-7604 - N - 16mm²" articleNo="2016-7604" />
        <add typ="out" shortName="L" color="LightGray" width="2" producer="Wago" articleName="Wago 2016-7601 - L - 16mm²" articleNo="2016-7601" />

        <add typ="PE" shortName="PE" color="Yellow" width="2" producer="Phoenix" articleName="PT 16 N-PE" articleNo="3212147" />
        <add typ="N" shortName="N" color="LightSkyBlue" width="2" producer="Phoenix" articleName="PT 16 N BU" articleNo="3212142" />
        <add typ="out" shortName="L" color="LightGray" width="2" producer="Phoenix" articleName="PT 16 N" articleNo="3212138" />
      </Klemmen>
    </add>

    <add typ="knx_out" leitungstyp="EIB-Y(ST)Y" minQ="0" maxQ="1.5">
      <Klemmen>
        <add typ="out_knx+/out_knx-" shortName="K/K" color="Red" width="1" producer="Wago" articleName="PHOENIX 3214663 PTTBS" articleNo="2002-2201" />
        <add typ="out_30V+/out_30V-" shortName="K/K" color="Yellow" width="1" producer="Wago" articleName="PHOENIX 3214663 PTTBS" articleNo="2002-2201" />
        <add typ="out_ks+/out_ks-" shortName="K/K" color="Yellow" width="1" producer="Wago" articleName="PHOENIX 3214663 PTTBS" articleNo="2002-2201" />
        <add typ="reserve/reserve" shortName="K/K" color="Yellow" width="1" producer="Wago" articleName="PHOENIX 3214663 PTTBS" articleNo="2002-2201" />

        <add typ="out_knx+/out_knx-" shortName="K/K" color="Red" width="1" producer="Phoenix" articleName="PTTBS 1,5/S-KNX" articleNo="3214663" />
        <add typ="out_30V+/out_30V-" shortName="K/K" color="Yellow" width="1" producer="Phoenix" articleName="" articleNo="" />
        <add typ="out_ks+/out_ks-" shortName="K/K" color="Yellow" width="1" producer="Phoenix" articleName="PTTBS 1,5/S-KNX" articleNo="3214663" />
        <add typ="reserve/reserve" shortName="K/K" color="Yellow" width="1" producer="Phoenix" articleName="" articleNo="" />

      </Klemmen>
    </add>

    <add typ="kleinsp_out" leitungstyp="1W-Y(ST)Y" minQ="0" maxQ="1.5">
      <Klemmen>
        <add typ="*/*" shortName="K/K" color="Red" width="1" producer="Wago" articleName="PHOENIX 3214663 PTTBS" articleNo="2002-2201" />

        <add typ="*/*" shortName="K/K" color="Red" width="1" producer="Phoenix" articleName="PTTBS 1,5/S-KNX" articleNo="3214663" />
        </Klemmen>
    </add>    

    <add typ="kleinsp_out" leitungstyp="NYM(ST)-J 5x,J-Y(ST)Y 6x,J-Y(ST)Y 8x,Ölflex 3x,Ölflex 5x,Ölflex 7x" minQ="0" maxQ="1.5">
      <Klemmen>
        <!-- Nur Dreistockklemmen, da Schirmung auf auf Klemme aufgelegt wird -->
        <add typ="*/*/*" shortName="K/K/K" color="LightGray" width="1" producer="Wago" articleName="Wago 2002-3201 - Dreistockklemme L/L/L" articleNo="2002-3201" />


        <add typ="*/*/*" shortName="K/K/K" color="LightGray" width="1" producer="Phoenix" articleName="PT 1,5/S-3L" articleNo="3213713" />
      </Klemmen>
    </add>

    <add typ="kleinsp_out" leitungstyp="NYM(ST)-J 5x,J-Y(ST)Y 6x,Ölflex 3x,Ölflex 5x,Ölflex 7x" minQ="1.6" maxQ="2.5">
      <Klemmen>
        <!-- Nur Dreistockklemmen, da Schirmung auf auf Klemme aufgelegt wird -->
        <add typ="*/*/*" shortName="K/K/K" color="LightGray" width="1" producer="Wago" articleName="Wago 2002-3201 - Dreistockklemme L/L/L" articleNo="2002-3201" />


        <add typ="*/*/*" shortName="K/K/K" color="LightGray" width="1" producer="Phoenix" articleName="PT 2,5-3L" articleNo="3210499" />
      </Klemmen>
    </add>

    <add typ="kleinsp_out" leitungstyp="NYM(ST)-J 3x,Li (St) 2x,J-Y(ST)Y 2x,J-Y(ST)Y 4x,Oelflex 2x" minQ="0" maxQ="1.5">
      <Klemmen>
        <add typ="*/*/*" shortName="K/K" color="LightGray" width="1" producer="Wago" articleName="Wago 2002-2201 - Doppelstockklemme L/L" articleNo="2002-2201" />


        <add typ="*/*/*" shortName="K/K" color="LightGray" width="1" producer="Phoenix" articleName="PTTB 1,5/S" articleNo="3208511" />
      </Klemmen>
    </add>

    <add typ="kleinsp_out" leitungstyp="NYM(ST)-J 3x,Li (St) 2x,J-Y(ST)Y 2x" minQ="1.6" maxQ="2.5">
      <Klemmen>
        <add typ="*/*/*" shortName="K/K" color="LightGray" width="1" producer="Wago" articleName="Wago 2002-2201 - Doppelstockklemme L/L" articleNo="2002-2201" />


        <add typ="*/*/*" shortName="K/K" color="LightGray" width="1" producer="Phoenix" articleName="PTTB 2,5" articleNo="3210567" />
      </Klemmen>
    </add> 

    <add typ="" leitungstyp="(intern)" minQ="0" maxQ="2.5" ignore="true">
      <Klemmen>
      </Klemmen>
    </add>

  </Leitungstypen>
  <Reihenklemmen>
    <add key="WagoEinspeiseklemme" value="2016-7714" />
    <add key="WagoSammelschienenträger" value="2009-305" />
    <add key="PhoenixEinspeiseklemme" value="1030131|PTI 16-NLS-FI BU" />
    <add key="PhoenixSammelschienenträger" value="1030138|AB-PTI 16-NLS BU" />
    <add key="PhoenixKlemmenleisteStart" value="1201442|E/UK" />
    <add key="PhoenixKlemmenleisteEnde" value="3022218|CLIPFIX 35" />
  </Reihenklemmen>
</configuration>